<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="loader.css">

	<title>APOD</title>

	<style></style>
</head>
<body>

	<div id="app">	
	<div class="loading" v-if="loading">Loading&#8230;</div>
	
		<div class="container py-2">
			<h2>Busca de imagem/vídeo do dia no APOD</h2>
			<form action="">
				<div class="form-group row">
					<div class="col-6">	
						<label>Data</label>
						<input type="text" name="data" class="form-control" v-model:dataExibicao="dataExibicao">
					</div>
				</div>

				<div class="form-group">
					<button v-on:click="buscaImgPorData" class="btn btn-primary">Buscar</button>
				</div>
			</form>


			<img :src="imgSrc" :title="imgTitulo" v-if="ehImg">

			<div class="embed-responsive embed-responsive-16by9" v-else>
				<iframe width="420" height="315"
				:src="imgSrc">
			</iframe>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="chave.js"></script>


<script>
	var urlAPI = 'https://api.nasa.gov/planetary/apod?api_key=' + chaveApi + '&date=';


	var app = new Vue({
		el: '#app',
		data: {
			imgTitulo: '',
			imgSrc: '',
			dataExibicao: '',
			dataFormatada: '',
			ehImg: '',
			loading: false
		},
		methods: {
			carregaImg: function(){

				this.loading = true;


				axios.get(urlAPI+this.dataFormatada)
				.then(function(resposta){

					app.loading = false;
					app.ehImg = resposta.data.url.indexOf("youtube") > 0 ? false : true;
					app.imgSrc = resposta.data.url;
					app.imgTitle = resposta.data.title;

				})
				.catch(function(){

					app.loading = false;
					console.error('Ocorreu um erro ao realizar a busca, tente novamente.');

				});
			},

			buscaImgPorData: function(e){

				this.loading = true;

				e.preventDefault();
				this.dataFormatada = this.formatarDataNasa(this.dataExibicao);

				axios.get(urlAPI+this.dataFormatada)
				.then(function(resposta){
					this.loading = false;
					app.ehImg = resposta.data.url.indexOf("youtube") > 0 ? false : true;

					app.imgSrc = resposta.data.url;
					app.imgTitle = resposta.data.title;
				})
				.catch(function(){

					this.loading = false;
					console.error('Ocorreu um erro ao realizar a busca, tente novamente.');

				});
			},

			hoje: function(){

				var today = new Date();
				var dd = String(today.getDate()).padStart(2, '0');
					var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
					var yyyy = today.getFullYear();

					this.dataExibicao = dd + '/' + mm + '/' + yyyy;
					this.dataFormatada = yyyy + '-' + mm + '-' + dd;

				},

				formatarDataNasa: function(data){
					return data.split("/").reverse().join('-');
				}
			},
			
			created: function(){
				this.hoje();
				this.carregaImg();
			}
		});
	</script>
</body>
</html>